<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A35467B1BC3696A00CC97C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A3546921BC3696A00CC97C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A35469D1BC3696B00CC97C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
